{% extends 'basefront.html.twig' %}


        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
{% block stylesheets %}
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-o2FWgrFXkGzeQrjtJgAMjPO7z5FJmP1PQtXtlx0bTVazlMLf1FQwliSxLtkhC8xlCkdy9ag+YHdntqC6V/ebUg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
<link href="{{ asset('assets/css/linearicons.css') }}" rel="stylesheet">
<link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet">
<link href="{{ asset('assets/css/magnific-popup.css') }}" rel="stylesheet">
<link href="{{ asset('assets/css/nice-select.css') }}" rel="stylesheet">
<link href="{{ asset('assets/css/animate.min.css') }}" rel="stylesheet">
<link href="{{ asset('assets/css/owl.carousel.css') }}" rel="stylesheet">
<link href="{{ asset('assets/css/main.css') }}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-o2FWgrFXkGzeQrjtJgAMjPO7z5FJmP1PQtXtlx0bTVazlMLf1FQwliSxLtkhC8xlCkdy9ag+YHdntqC6V/ebUg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
hr {
    border: none; /* Supprime le style de la bordure */
    height: 1px; /* Définit la hauteur de la ligne */
    background-color: transparent; /* Couleur de fond de la ligne (vous pouvez ajuster cela selon vos préférences) */
    opacity: 0.5; /* Opacité de la ligne (0 = complètement transparent, 1 = complètement opaque) */
    margin: 20px 0; /* Marge autour de la ligne (vous pouvez ajuster cela selon vos préférences) */
}</style>

{% endblock %}

{% block body %}
<html>
    <head>
        <meta charset="UTF-8">
		<head>
<script src="https://js.hcaptcha.com/1/api.js" async defer></script>		<link rel="icon" type="image/png" href="{{ asset('/photos/to7fa-removebg-preview.png') }}">		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-o2FWgrFXkGzeQrjtJgAMjPO7z5FJmP1PQtXtlx0bTVazlMLf1FQwliSxLtkhC8xlCkdy9ag+YHdntqC6V/ebUg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		</head>
  <header id="header" id="home">
			  	<div class="container header-top">
			  		<div class="row">
				  		<div class="col-6 top-head-left">
				  			<ul>
				  				<li><a href="#">Visit Us</a></li>
				  				<li><a href="#">Buy Ticket</a></li>
				  			</ul>
				  		</div>
				  		<div class="col-6 top-head-right">
				  			<ul>
		  						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-behance"></i></a></li>
				  			</ul>
				  		</div>			  			
			  		</div>
			  	</div>
			  	<hr>
<div class="container">
    <div class="row align-items-center justify-content-between">
        <div class="col-auto">
            <div id="logo">
                    <a href="index.html"><img src="/photos/to7fa-removebg-preview.png" alt="" title="" width="80" height="80" /></a>
    <h1 class="text-white" style="font-size: 24px; margin-left: 10px;">TO7FA</h1>
            </div>
        </div>
        <div class="col-auto">
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="{{ path('app_home') }}">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li class="menu-active"><a href="{{ path('app_musee_frontoffice') }}">Museums</a></li>
                    <li><a href="event.html">Events</a></li>
                    <li><a href="ticket.html">Ticket</a></li>
                    <li><a href="blog-home.html">Blog</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="">Pages</a>
                        <ul>
                            <li><a href="blog-single.html">Blog Single</a></li>
                            <li><a href="category.html">Category</a></li>
                            <li><a href="elements.html">Elements</a></li>
                        </ul>
                    </li>			          
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>
	</div>
</div>
			  </header><!-- #header -->


			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Réserver			
							</h1>	
							<p class="text-white link-nav"><a href="{{ path('app_home') }}">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="gallery.html"> Museums</a></p>
						</div>											
					</div>
				</div>
			</section>


    <h1></h1>

<section style="padding-left: 50px;">
<section style="padding-bottom: 50px;">
<hr>
<hr>

    {{ include('reservation_musee/_form.html.twig') }}
</section>
    
    </section>
			<footer class="footer-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h6>About Us</h6>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
								</p>
								<p class="footer-text">
									<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> and distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								</p>
							</div>
						</div>
						<div class="col-lg-5  col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h6>Newsletter</h6>
								<p>Stay update with our latest</p>
								<div class="" id="mc_embed_signup">
									<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">
										<input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
			                            	<button class="click-btn btn btn-default"><span class="lnr lnr-arrow-right"></span></button>
			                            	<div style="position: absolute; left: -5000px;">
												<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
											</div>

										<div class="info"></div>
									</form>
								</div>
							</div>
						</div>						
						<div class="col-lg-2 col-md-6 col-sm-6 social-widget">
							<div class="single-footer-widget">
								<h6>Follow Us</h6>
								<p>Let us be social</p>
								<div class="footer-social d-flex align-items-center">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-dribbble"></i></a>
									<a href="#"><i class="fa fa-behance"></i></a>
								</div>
							</div>
						</div>							
					</div>
				</div>
			</footer>	
			<!-- End footer Area -->	
{% endblock %}
     {% block javascripts %}
        <script src="{{ asset('assets/js/vendor/jquery-2.2.4.min.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="{{ asset('assets/js/vendor/bootstrap.min.js') }}"></script>           
        <script src="{{ asset('assets/js/easing.min.js') }}"></script>            
        <script src="{{ asset('assets/js/hoverIntent.js') }}"></script>
        <script src="{{ asset('assets/js/superfish.min.js') }}"></script>   
        <script src="{{ asset('assets/js/jquery.ajaxchimp.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.magnific-popup.min.js') }}"></script>    
        <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>   
        <script src="{{ asset('assets/js/imagesloaded.pkgd.min.js') }}"></script>
        <script src="{{ asset('assets/js/justified.min.js') }}"></script>                    
        <script src="{{ asset('assets/js/jquery.sticky.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.nice-select.min.js') }}"></script>          
        <script src="{{ asset('assets/js/parallax.min.js') }}"></script>       
        <script src="{{ asset('assets/js/mail-script.js') }}"></script>    
        <script src="{{ asset('assets/js/main.js') }}"></script> 
        {% endblock %}